@import './variables.scss';

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: white;
    transition: all .5s;

    &:before,
    &:after {
      background: $color;
    }
  }
}

.routine-btn {
  @include colorBtn($routine);
  padding: 0 0.24rem;
  height: 32px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}

.default-btn {
  padding: 0 0.24rem;
  height: 32px;
  background: #ffffff;
  border: 1px solid #e2e6e9;
  border-radius: 3px;
}
