// cover some element-ui styles

.ul-nav-com{
  .el-input , .el-input__inner{
    width: 2rem;
  height: 0.32rem;
  background: #ffffff;
  border-radius: 0.03px;
  font-size: 0.05rem;
  }
  .el-input--medium .el-input__inner{
    height: 0.32rem;
  }
  .el-input--medium .el-input__icon{
    line-height: 0.32rem;
  }
}
