// cover some element-ui styles
@import './variables.scss';

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: white;
    transition: all .5s;

    &:before,
    &:after {
      background: $color;
    }
  }
}

.ul-nav-com {

  .el-input,
  .el-input__inner {
    width: 200px;
    height: 32px;
    background: #ffffff;
    border-radius: 0.03px;
    font-size: 0.05rem;
  }

  .el-input--medium .el-input__icon {
    line-height: 32px;
  }
}

.el-dialog {

  .el-dialog__header,
  .el-dialog__body,
  .el-dialog__footer {
    padding: 0;
  }

  .el-dialog__title {
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    color: #67717a;
  }

  .default-btn {
    margin-right: 8px;
  }

  .el-dialog__headerbtn {
    top: 16px;

    &:hover {
      color: #003fad;
    }
  }
}

.el-image-viewer__btn .el-image-viewer__actions {
  display: none;
}

.el-button--primary {
  @include colorBtn($routine);
  padding: 0 0.24rem;
  height: 32px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  &:hover , &:focus {
    background-color: $routine;
  }
}

// font-size
.el-input,
.el-input__inner,
.el-pagination span:not([class*=suffix]) {
  font-size: 12px !important;
}