@import './variables.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './btn.scss';
@import './reset.scss';
@import'./public-class.scss';
@import'./layout.scss';

/* table表格样式 */
.ul-main-com {
  padding: 0.16rem;

  .ul-nav-com {
    height: 72px;
    padding: 0 0.016rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #ffffff;
    border-radius: 2px 2px 0 0;
    padding: 0 0.24rem;
    .ul-nav-left {
      font-size: 0.14rem;
      color: #35393f;
      line-height: 0.2rem;
    }

    .ul-nav-left span {
      margin-left: 12px;
      width: 48px;
      font-weight: 400;
      color: $routine;
      line-height: 20px;
    }





  }


  .ul-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background: #ffffff;
    padding: 0 0.16rem;
    color: #67717a;

    .el-input--mini .el-input__inner {
      height: 24px;
      // line-height: 24px;
    }

    .el-input__icon {
      height: auto;
    }
  }

  .el-table {
    padding: 0 0.16rem;

    th {
      background: #fafafa;
      font-weight: 500;
      color: #35393f;

      .gutter {
        display: table-cell !important;
      }
    }


    .cursor-porinter {
      font-weight: 400;
      color: #003fad;
    }

    .el-image,
    img {
      width: 24px !important;
      height: 52px !important;
    }

    .heade-prot {
      width: 42px !important;
      height: 42px !important;
      border-radius: 50%;
    }
  }
}

.ul-course-to-examine {
  .ul-main-com {
    td {
      padding: 4px 0;
    }
  }
}

// 详情页面
.ul-course-detail-com,
.ul-peoject-detail-com,
.ul-staff-detail-com {
  height: calc(100% - 110px);
  padding: 0.16rem 0.16rem 0 0.16rem;

  .detail {
    background-color: #fff;
    height: 90%;
    padding: 0.24rem 0.24rem 0 0.24rem;
    overflow-y: auto;

    .detail-nav {
      height: 24px;
      line-height: 24px;
      padding-left: 0.12rem;
      background: #f7f9fa;
      border-radius: 2px;
      font-size: 0.14rem;
      font-weight: 500;
      color: #67717a;
    }

    .detail-main {
      margin-top: 36px;
      margin-left: 20%;

      li {
        margin-bottom: 0.24rem;
        display: flex;
        flex-wrap: nowrap;

        /*两栏*/
        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            width: 3rem;
            flex-wrap: nowrap;

            img {
              width: 44px;
              height: 44px;
              opacity: 1;
              border: 1px solid #e4e4e4;
              border-radius: 50%;
            }
            

            .content {
              margin-left: 8px;
            }

            .header {
              min-width: 164px;
            }
          }
        }
      }

      .header {
        min-width: 80px;
        font-size: 12px;
        font-weight: 400;
        text-align: right;
        color: #35393f;
        display: inline-block;
      }

      .content {
        margin-left: 24px;
        font-weight: 400;
        text-align: left;
        color: #67717a;
        display: inline-block;
        word-wrap: break-word;
      }
    }
  }
}

.ul-staff-detail-com {
  .detail-main {
    margin-left: 15% !important;
  }
}