@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './btn.scss';
@import './reset.scss';
@import'./public-class.scss';
@import'./layout.scss';

/* table表格样式 */
.ul-main-com {
  padding: 0.16rem;

  .el-table {
    padding: 0 0.16rem;

    th {
      background: #fafafa;
      font-weight: 500;
      color: #35393f;

      .gutter {
        display: table-cell !important;
      }
    }


    .cursor-porinter {
      font-weight: 400;
      color: #003fad;
    }
    .el-image , img{
      width: 24px !important;
      height: 52px !important;
    }
  }
}
.ul-course-to-examine{
  .ul-main-com{
    td {
      padding: 6px;
    }
  }
}