@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './btn.scss';
@import './reset.scss';
@import'./public-class.scss';
@import'./layout.scss';

/* table表格样式 */
.ul-main-com {
  padding: 0.16rem;

  .ul-nav-left span {
    text-decoration: underline;
    margin-left: 12px;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .el-table {
    padding: 0 0.16rem;

    th {
      background: #fafafa;
      font-weight: 500;
      color: #35393f;

      .gutter {
        display: table-cell !important;
      }
    }


    .cursor-porinter {
      font-weight: 400;
      color: #003fad;
    }

    .el-image,
    img {
      width: 24px !important;
      height: 52px !important;
    }

    .heade-prot {
      width: 30px !important;
      height: 30px !important;
    }
  }
}

.ul-course-to-examine {
  .ul-main-com {
    td {
      padding: 4px 0;
    }
  }
}

// 详情页面
.ul-course-detail-com,
.ul-peoject-detail-com,
.ul-staff-detail-com {
  height: calc(100% - 110px);
  padding: 0.16rem 0.16rem 0 0.16rem;

  .detail {
    background-color: #fff;
    height: 90%;
    padding: 0.24rem 0.24rem 0 0.24rem;
    overflow-y: auto;

    .detail-nav {
      height: 24px;
      line-height: 24px;
      padding-left: 0.12rem;
      background: #f7f9fa;
      border-radius: 2px;
      font-size: 0.14rem;
      font-weight: 500;
      color: #67717a;
    }

    .detail-main {
      margin-top: 36px;
      margin-left: 20%;

      li {
        margin-bottom: 0.24rem;
        display: flex;
        flex-wrap: nowrap;

        /*两栏*/
        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            width: 3rem;
            flex-wrap: nowrap;

            .screenshot {
              width: 0.9rem;
              height: 0.8rem;
              background-color: gray;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              overflow: hidden;

              &>span {
                display: inline-block;
                width: 0.79rem;
                height: 0.72rem;
                // border-radius: 50%;
                margin-left: 0;
              }

              img {
                width: 100%;
                height: 100%;
                // clip-path: circle(50%);
              }
            }

            .content {
              margin-left: 8px;
            }
            .header{
              min-width:164px ;
            }
          }
        }
      }

      .header {
        min-width: 72px;
        font-size: 12px;
        font-weight: 400;
        text-align: right;
        color: #35393f;
        display: inline-block;
      }

      .content {
        margin-left: 24px;
        font-weight: 400;
        text-align: left;
        color: #67717a;
        display: inline-block;
        word-wrap: break-word;
      }
    }
  }
}

.ul-staff-detail-com{
  .detail-main{
    margin-left: 15% !important;
  }
}