@import './variables.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './btn.scss';
@import './reset.scss';
@import'./public-class.scss';
@import'./layout.scss';


/******/
.ul-course-management,
.ul-puzzle-solving,
.ul-project-management,
.ul-staff-management,
.ul-course-to-examine,
.ul-project-to-examine {
  height: calc(100% - 105px);

  .el-table {
    height: calc(100% - 110px) !important;
  }
}


/******/
.ul-staff-management {

  .el-table tr,
  td {
    height: 60px;
  }
}

/*****/
.ul-project-to-examine {
  .el-table {

    .el-image,
    img {
      width: 40px !important;
      height: 52px !important;
    }
  }

}

.ul-project-management,
.ul-puzzle-solving {
  .el-table td {
    padding: 16px 0;
  }

}

/* table表格样式 */
.ul-main-com {
  padding: 0.16rem;
  height: calc(100% - 32px) !important;

  .ul-nav-com {
    height: 72px;
    padding: 0 0.016rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #ffffff;
    border-radius: 2px 2px 0 0;
    padding: 0 0.24rem;

    .ul-nav-left {
      font-size: 0.14rem;
      color: #35393f;
      line-height: 0.2rem;
    }

    .ul-nav-left span {
      margin-left: 12px;
      width: 48px;
      font-weight: 400;
      color: $routine;
      line-height: 20px;
    }
  }

  .ul-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background: #ffffff;
    padding: 0 0.16rem;
    color: #67717a;

    .el-input--mini .el-input__inner {
      height: 24px;
      // line-height: 24px;
    }

    .el-input__icon {
      height: auto;
    }
  }

  .el-table {
    padding: 0 0.16rem;

    th {
      background: #fafafa;
      font-weight: 500;
      color: #35393f;

      .gutter {
        display: table-cell !important;
      }
    }

    .el-image {
      width: 36px;
      height: 52px;
    }

    .cursor-porinter {
      font-weight: 400;
      color: #003fad;
    }



    .heade-prot {
      width: 42px !important;
      height: 42px !important;
      border-radius: 50%;
    }
  }
}

.ul-course-to-examine {
  .ul-main-com {
    td {
      padding: 4px 0;
    }
  }
}

// 详情页面
.ul-course-detail-com,
.ul-peoject-detail-com,
.ul-staff-detail-com {
  height: calc(100% - 118px);
  padding: 0.16rem 0.16rem 0 0.16rem;

  .detail {
    background-color: #fff;
    height: calc(100% - 32px);
    padding: 0.24rem 0.24rem 0 0.24rem;
    overflow-y: auto;

    .detail-nav {
      height: 24px;
      line-height: 24px;
      padding-left: 0.12rem;
      background: #f7f9fa;
      border-radius: 2px;
      font-size: 0.14rem;
      font-weight: 500;
      color: #67717a;
    }

    .detail-main {
      margin: 0 15%;
      margin-top: 36px;

      li {
        margin-bottom: 0.24rem;
        display: flex;
        flex-wrap: nowrap;

        /*两栏*/
        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            width: 3rem;
            flex-wrap: nowrap;

            img {
              width: 44px;
              height: 44px;
              opacity: 1;
              border: 1px solid #e4e4e4;
              border-radius: 50%;
            }


            .content {
              margin-left: 8px;
            }

            .header {
              min-width: 164px;
            }
          }
        }
      }

      .header {
        min-width: 80px;
        font-size: 12px;
        font-weight: 400;
        text-align: right;
        color: #35393f;
        display: inline-block;
      }

      .content {
        margin-left: 24px;
        font-weight: 400;
        text-align: left;
        color: #67717a;
        display: inline-block;
        word-wrap: break-word;
      }
    }
  }
}

/****编辑页面***/
.course-edit-com,
.project-edit-com,
.staff-edit-com {

  height: calc(100% - 82px);
  padding: 0.06rem 0.16rem 0.16rem 0.16rem;

  .edit-main {
    background-color: #fff;
    height: calc(100% - .88rem);
    padding: .28rem;
    overflow-y: auto;

    .edit-nav {
      height: 24px;
      line-height: 24px;
      padding-left: 0.12rem;
      background: #f7f9fa;
      border-radius: 2px;
      font-size: 0.14rem;
      font-weight: 500;
      color: #67717a;
      font-size: 14px !important;
      margin-bottom: .32rem;
    }

    .el-form-item {
      margin-bottom: 22px;
      text-align: left;
      padding: 0 30% 0 10%;

      .el-form-item__label {
        &:after {
          content: "：";
        }
      }

      .el-textarea__inner {
        min-height: 80px !important;
      }
    }

    #mceu_36-body , #mceu_34-body{
      display: flex;
      flex-wrap: wrap;
    }
  }
}

/*****/
.staff-edit-com {
  .el-form-item {
    padding: 0 30% 0 22% !important;
  }

  .el-upload-list {
    display: none;
  }

  .image_url {
    width: 100px;
    height: 100px;
  }

  .hand-portrait {
    .el-form-item__content {
      display: flex;
      align-items: flex-end;

      .upload-demo {
        height: 25px;
        margin-left: 8px;
      }
    }
  }
}

/******/
.ul-staff-detail-com {
  .detail-main {
    margin-left: 15% !important;


  }
}

// login
.login-container {
  background: url("../assets/image/login_back@2x.png") no-repeat;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-main {
    width: 256px;
    height: 290px;
    text-align: center;
    background: #1b3653;
    border-radius: 12px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.56);
    padding: 36px 32px 32px 26px;

    .title {
      font-size: 28px !important;
      margin-bottom: 0.19rem;
    }

    p {
      margin-bottom: 0.2rem;
    }

    .title,
    p {
      text-align: left;
      height: 30px;
      font-family: FontName;
      color: #ffffff;
      line-height: 35px;
    }

    .el-form-item__content {
      margin-left: 0 !important;
    }

    .el-form-item {
      margin-bottom: 16px;
    }

    .el-button--primary {
      width: 256px;
      height: 36px;
      background: #ffffff;
      border-radius: 2px;
      color: $routine;
      border-color: #fff;
    }
  }
}

// err-pages
.err-pages {
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    background: url("../assets/image/404.png") no-repeat;
    background-size: 100% 100%;
    width: 4.01rem;
    height: 2.86rem;
  }
}