@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './btn.scss';
@import './reset.scss';
@import'./public-class.scss';
@import'./layout.scss';

/* table表格样式 */
 .ul-main-com{
   padding: 0.16rem;

   .el-table {
     padding: 0 0.16rem;

     th{
      background: #fafafa;
     }
   }
 }