@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './btn.scss';
@import './reset.scss';
@import'./public-class.scss';
@import'./layout.scss';

/* table表格样式 */
.ul-main-com {
  padding: 0.16rem;

  .el-table {
    padding: 0 0.16rem;

    th {
      background: #fafafa;
      font-weight: 500;
      color: #35393f;

      .gutter {
        display: table-cell !important;
      }
    }


    .cursor-porinter {
      font-weight: 400;
      color: #003fad;
    }

    .el-image,
    img {
      width: 24px !important;
      height: 52px !important;
    }
  }
}

.ul-course-to-examine {
  .ul-main-com {
    td {
      padding: 4px 0;
    }
  }
}

// 课程详情
.ul-course-detail-com {
  height: calc(100% - 110px);
  padding: 0.16rem 0.16rem 0 0.16rem;

  .course-detail {
    background-color: #fff;
    height: 90%;
    padding: 0.24rem 0.24rem 0 0.24rem;
    overflow-y: auto;

    .course-detail-nav {
      height: 24px;
      line-height: 24px;
      padding-left: 0.12rem;
      background: #f7f9fa;
      border-radius: 2px;
      font-size: 0.14rem;
      font-weight: 500;
      color: #67717a;
    }

    .course-detail-main {
      margin-top: 36px;
      margin-left: 20%;

  
      li {
        margin-bottom: 0.24rem;
        display: flex;
        flex-wrap: nowrap;
      }

      .header {
        width: 104px;
        font-size: 12px;
        font-weight: 400;
        text-align: right;
        color: #35393f;
        display: inline-block;
      }

      .content {
        margin-left: 24px;
        font-weight: 400;
        text-align: left;
        color: #67717a;
        display: inline-block;
        word-wrap:break-word;
        width: 50%;
      }
    }
  }
}